.side-menu {
  position: fixed;
  left: -80%;
  width: 80%;
  height: 100%;
  background-color: #ffffff;
  overflow-x: hidden;
  transition: all 0.3s;
}

.side-menu.open {
  left: 0;
}

.s_list_item {
  padding: 10px;
  padding-left: 25px;

  border-left-width: 4px;
  border-left-color: white;
  background-color: white;
  transition-property: background-color;
  transition-duration: 225ms;
}
.s_list_item:hover {
  cursor: pointer;
  background-color: #e4e4e4;
  border-left-color: red;
}

.s_list_outer {
  font-weight: bold;
  font-size: large;
  border-bottom: solid gray 2px;
}

.s_list_outer:hover {
  cursor: pointer;
  border-left-color: red;
  background-color: #e4e4e4;
}

@media (min-width: 640px) {
  .side-menu {
    width: 30%;
    left: -30%;
  }
}
