@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ultra&display=swap');

label,
ul,
.subtotal,
.tax {
  font-family: 'Roboto', 'serif';
}

:root {
  --b-color: rgb(211, 100, 100);
}

.delivery_info {
  white-space: nowrap; /* Prevent text wrapping */
  width: 0; /* Initial width */
  overflow: hidden; /* Hide content that exceeds the initial width */
  padding-top: 1.5rem;
  position: relative;
  padding: 0;
  flex-basis: 0;
  transition: position 2s, flex-basis 1s, width 1s, padding 1s, border-right 1s; /* Transition for the width */
  /* transition: padding 1s; */
}

.checkout_info.deliverySet .delivery_info {
  width: 100%; /* Desired width when hovering over the checkout_info grid */
  border-right: 2px solid var(--b-color);
  /* border-top: 2px solid var(--b-color); */
  position: static;
  padding: 1.5rem;
  flex-basis: 50%;
  display: block;
}

/* .delivery_info, */
.payment_container,
.order_summary {
  /* background-color: #f8f8f8; */
  flex-basis: 50%;
  padding: 1.5rem;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  /* border-top: 2px solid var(--b-color); */
}

.payment_container {
  border-right: 2px solid var(--b-color);
}

.delivery_info h1,
.payment_container h1,
.order_summary h1 {
  margin-bottom: 1rem;
  font-size: 1.25rem;
  font-weight: 500;
}

label {
  display: block;
  margin-bottom: 1rem;
}

input,
.ce {
  display: block;
  width: 100%;
  padding: 7.5px;
  margin-top: 0.25rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #e8e8e8;
}

.ce:focus {
  outline: 2px solid red;
}

button[type='submit'] {
  background-color: red;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.12s;
}

button[type='submit']:hover {
  background-color: #a60000;
}

.order_summary ul {
  list-style-type: none;
  padding: 0;
}

.order_summary li {
  margin-bottom: 0.5rem;
}
