

.s_c_list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    grid-auto-rows: auto;
    align-items: start;
    gap: 1rem;
    padding: .5rem;
}

h4 {
    font-weight: 800;
}