@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Kaushan+Script&family=Lily+Script+One&display=swap');

.w_title {
    font-family: 'Lily Script One', cursive;
}
.w_body {
    font-family: 'Bad Script', cursive;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  